<div class="login-form">
    <mat-card>
        <mat-card-header class="separator">
            <img mat-card-lg-image src="assets/image/image_2.png">
            <br/>
        </mat-card-header>
        <mat-card-title>Welcome To Wires</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <mat-card-content>
                <mat-form-field class="full-wdth-input separator">
                    <input 
                        matInput="" 
                        type="text" 
                        formControlName="email"
                        placeholder="Email"
                        />
                </mat-form-field>
                <mat-form-field class="full-wdth-input separator">
                    <input 
                        matInput="" 
                        type="password" 
                        formControlName="password"
                        placeholder="Password"
                        />
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Login</button>
            </mat-card-content>
        </form>
    </mat-card>
</div>
