<div>
    <mat-card>
        <mat-card-content>
            <mat-card-header>
                <img mat-card-lg-image src="assets/image/image_2.png">
            </mat-card-header>
            <mat-card-title>Welcome To Wires</mat-card-title>
            <mat-form-field>
                <input type="text" matInput placeholder="Username"
                    required/>
            </mat-form-field>
            <mat-form-field>
                <input type="password" placeholder="Password"
                    required/>
            </mat-form-field>
            <button type="submit" mat-raised color="primary">Login</button>
        </mat-card-content>
    </mat-card>
</div>
